* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  padding: 6px 8px 0px 8px;
  color: #67755c;
}
.header h1 {
  width: 200rem;
  display: inline;
}
.header .logo img {
  height: 4rem;
  width: 4rem;
  padding: 15px;
  vertical-align: middle;
  display: inline-block;
}
.header nav {
  text-align: center;
  letter-spacing: 1px;
  display: flex;
  width: 100%;
}
.header nav li {
  list-style-type: none;
  text-align: center;
  float: left;
  margin-left: 60px;
  position: relative;
}
.header nav ul li a {
  text-decoration: none;
  display: block;
  padding: 0 8px;
  color: #67755c;
  display: inline;
  font-size: 12px;
}
.header a:hover {
  color: #000;
}
.header li + li::before {
  content: "|";
  position: absolute;
}
.banner img {
  margin: 10px 40px;
  max-width: 48rem;
}
.products .wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  width: 800px;
}
.products .wrap .item {
  width: 150px;
  margin: 0 20px;
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
  background-color: white;
}
.products .wrap .item img {
  background-color: white;
  max-height: 180px;
  padding: 16px;
}
.products .wrap .item h2 {
  background-color: white;
  justify-content: center;
}
.products .wrap .item p {
  background-color: white;
  justify-content: center;
}
.footer {
  background-color: #67755c;
  color: white;
  padding: 20px 0px;
  text-align: left;
  width: 100%;
}
.footer .wrap {
  background-color: #67755c;
  display: flex;
  padding: 0 40px;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.footer a:hover {
  color: #b1d496;
}
.footer.wrap.about {
  margin-right: 50px;
}
.footer.wrap.cooperate {
  justify-content: space-around;
}
.footer.wrap.contact {
  flex-wrap: wrap;

  justify-content: space-around;
}
.footer.wrap.app {
  justify-content: space-around;
}
