* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Noto Sans TC", sans-serif;
}

/* header  */
.header {
  padding: 6px 8px 0px 8px;
  color: #67755c;
  margin-top: 55px;
}
.header h1 {
  font-size: 1.8rem;
  display: inline;
  text-align: center;
  margin-left: 21rem;
}

/* 固定最上方欄位 */
.header .logo {
  position: fixed;
  width: 100%;
  background-color: #fef7e6;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: #dfd0a8;
}

.header .logo img {
  height: 5rem;
  width: 5rem;
  padding: 15px;
  vertical-align: middle;
  display: inline;
}
/* 登入 */
.header .logo a {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  color: #67755c;
}
.header .logo :nth-child(3) {
  width: 75px;
}
/* 購物車icon */
.header .logo :nth-child(4) {
  width: 15px;
  padding-right: 0;
}
/* 搜尋框 */
.header .logo .search {
  float: right;
  margin-top: 48px;
  margin-right: -100px;
}
.header .logo .search .searchbar {
  border: 1px solid #fef7e6;
  background-color: #fef7e6;
}
.header .logo .search .search-btn {
  background-color: #dfd0a8;
  outline: none;
  border: 0px solid #fef7e6;
  cursor: pointer;
}
.header .logo .search i {
  color: #fef7e6;
}
.header .logo .search i:hover {
  color: #ebe5d5;
}

/* 漢堡選單 */
#menuToggle {
  display: block;
  position: relative;
  top: 26px;
  left: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #67755c;
  transition: color 0.3s ease;
  display: flex;
}
#menuToggle a:hover {
  color: #000;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -20px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #67755c;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 260px;
  margin: -70px 0 0 -50px;
  padding: 10px 50px;
  padding-top: 100px;
  padding-left: 80px;
  background-image: linear-gradient(0deg, #fef7e6, #dfd0a8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 15px;
  font-size: 20px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}

/* 標題欄位 */
.item_header {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  height: 30px;
  background-color: #fff;
  border-radius: 3px;
  padding-left: 10px;
  margin-top: 3rem;
}
.item_header div {
  width: 200px;
  color: #67755c;
  line-height: 30px;
}
/* 商品欄位 */
.item_header .item_detail {
  width: 50%;
  margin-left: -120px;
}
/* 購物車內容 */
.item_body {
  margin-top: 20px;
  height: 100px;
  align-items: center;
  position: relative;
}
/* +-鈕 */
.item_body .count button {
  border: 1px solid #aaa;
  background: #f8f8f8;
  border: 0px;
  padding: 2px 5px;
}
/* 刪除鈕 */
.item_body .operate button {
  border: 1px solid #aaa;
  background: #f8f8f8;
  border: 0px;
  padding: 2px 5px;
}
/* 商品照 */
.item_detail img {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  float: left;
}
/* 商品名稱 */
.item_detail .name {
  margin-left: 100px;
  margin-top: 20px;
}
/* 總計&結帳 */
.checkout {
  position: absolute;
  right: 8rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}
.checkout .price {
  padding: 10px 2px;
}
.checkout .totalprice {
  padding: 10px;
}
.checkout .button button {
  margin-left: 10px;
  background-color: #f8bb45;
  color: #67755c;
  border: 1px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.checkout .button button a {
  text-decoration: none;
  color: #67755c;
}

/* Site footer */
.site-footer {
  background-color: #67755c;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px 0 20px;
  line-height: 24px;
  font-size: 12px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 0;
  margin-top: 20rem;
}
.site-footer ul {
  padding-left: 0;
  list-style: none;
}
.site-footer ul li {
  display: inline-block;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  font-size: 14px;
  color: white;
  margin-top: 5px;
}
.site-footer a {
  color: white;
  text-decoration: none;
  line-height: 30px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.site-footer a img {
  max-width: 10%;
  float: center;
  margin-top: 10px;
  margin-left: 10px;
}
.site-footer a:hover {
  color: #b1d496;
}

.copyright-text {
  margin: 0;
}

/* 返回頂端箭頭 */
.top {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 40px;
}
.top i {
  color: #f3be70;
}
.top i:hover {
  color: #fac87ec9;
}
